
.title-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title-container h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.title-container button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  border-radius: 0.25rem;
}